{
    "parser": "babel-eslint",
    "rules": {
      "strict": 0
    },
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:prettier/recommended",
      "plugin:jest/recommended"
    ],
    "plugins": [
      "react",
      "jest"
    ],
    "overrides": [
      {
        "files": [ "src/*.js"],
        "excludedFiles": "*.test.js"
      }
    ]
  }